<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
xmlns:gap = "http://phonegap.com/ns/1.0"
id = "com.phonegap.jacp"
version = "1.0.0">

<name>Catalogo Caride</name>

<description>
Trabajo final de e-Commerce impartido por la maestra Monica Olivarria
</description>

<author href="https://example.com" email="jose.caride@gmail.com">
Jose Caride
</author>

<icon src="images/icon.png" gap:density="ldpi" gap:platform="android" />
<icon src="images/icon.png" gap:density="mdpi" gap:platform="android" />
<icon src="images/icon.png" gap:density="hdpi" gap:platform="android" />
<icon src="images/icon.png" gap:density="xhdpi" gap:platform="android" />

</widget>